{% extends 'app_general/components/base.html' %}
{% load static %}
{% block site_title %}ISO Consult | CONTACT{% endblock %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISO Consult | BLOG</title>
</head>
<br>
<div class="content-title text-center content-section-single">
    <h2 class="content-title text-center">ISO/IEC 17025, VERSION 2017
        GENERAL REQUIREMENTS FOR THE COMPETENCE OF TESTING AND CALIBRATION LABORATORIES</h2>
    <p class="content-title text-center">ข้อกำหนดทั่วไปว่าด้วยความสามารถห้องปฏิบัติการในการดำเนินการทดสอบและ/
        หรือสอบเทียบ
        ซึ่งจะประกอบด้วยข้อกำหนดด้านการบริหารงานคุณภาพและ ข้อกำหนดด้านวิชาการ
        โดยมาตรฐานนี้สามารถที่จะนำมาใช้ได้กับทุกองค์กรที่มี การดำเนินกิจกรรมการทดสอบและ/หรือ สอบเทียบ
        ทำให้มั่นใจได้ว่าห้องปฏิบัติการมีการดำเนินการอย่างเป็นมาตรฐานที่สากลยอมรับ.....</p>
</div>


{% endblock %}