{% extends 'app_general/components/base.html' %}
{% load static %}
{% block site_title %}ISO Consult | CONTACT{% endblock %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ISO Consult | CONTACT </title>
</head>
<br>
<div class="content-title text-center content-section-single">
    <h2 class="content-title text-center">Contact</h2>
    <p class="content-title text-center">ติดต่อเราที่ 80/8 Samwa Road
        Bangchan, Khlongsamwa
        Bangkok 10510
    </p>
    <p>www.isoconsult.org
        cs.isoconsult@gmail.com
        Line ID: isoconsult
         INFO@ISOCONSULT.ORG
    </p>
    <p>
        Local: +66(0)2-107-6977
        CS: +66(0)88-905-0555
        FA: +66(0)90-940-9509
    </p>
</div>
{% endblock %}