{% extends 'app_general/components/base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block content %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> ISO Consult </title>
</head>
<section class="home-landing">
  <h1 class="home-landing-text">In-house & On-line Learning!</h1>
  <h4 class="home-landing-text">ISO CONSULTING & TRAINING</h4>
  <h4 class="home-landing-text">We provide creating a comprehensive quality system and documentation both hard-paper and
    software.</h4>
  <h5 class="home-landing-text">ISO9001, ISO14001, AS9100/10/20, IATF16949, ISO45001, ISO13485, ISO15189, ISO17025,
    ISO22301, ISO27001, ISO22000, TL9000, Lean, Six Sigma,..etc.</h5>
</section>
<section class="content-section">
  <div class="content-container">
    <h3 class="content-title text-center">WELCOME TO ISO CONSULT</h3>
    <div class="grid grid-3">
      <div>
        <img class="image-block" src="{% static 'app_general/iso.jpg' %}">
        <p>ISO 22301 Topic: Security and resilience — Business continuity management systems — Requirements</p>
      </div>
      <div>
        <img class="image-block" src="{% static 'app_general/iso2.jpg' %}">
        <p>ISO 45001 Topic: Occupational health and safety management systems — Requirements with guidance for use.</p>
      </div>
      <div>
        <img class="image-block" src="{% static 'app_general/iso3.jpg' %}">
        <p>AS/EN/JISQ9100 Topic: Quality Systems – Aerospace – Model for Quality Assurance in Design, Development,
          Production, Installation and Servicing</p>
      </div>
    </div>
  </div>
  <div class="container text-center">
      <h1 class="mb-5"> Video </h1>
      <div class="row d-flex flex-wrap text-center">
        {% for item in videos %}
      </div>
      <div class="px-3 mb-5 text-center">
        {% video item.url '426x240' %}
        <div class="text-center">
          {{ item.title }}
        </div>
      </div>
  </div>



</section>




{% endfor %}
{% endblock %}