{% extends 'app_general/components/base.html' %}
{% load static %}

{% block content %}
<section class="home-landing">
    <h1 class="home-landing-text">In-house & On-line Learning!</h1>
    <h4 class="home-landing-text">ISO CONSULTING & TRAINING</h4>
    <h4 class="home-landing-text">We provide creating a comprehensive quality system and documentation both hard-paper and software.</h4>
    <h5 class="home-landing-text">ISO9001, ISO14001, AS9100/10/20, IATF16949, ISO45001, ISO13485, ISO15189, ISO17025, ISO22301, ISO27001, ISO22000, TL9000, Lean, Six Sigma,..etc.</h5>
  </section>
  <section class="content-section">
    <div class="content-container">
      <h3 class="content-title text-center">WELCOME TO ISO CONSULT</h3>
      <div class="grid grid-3">
        <div>
          <img class="image-block" src="{% static 'app_general/iso.jpg' %}">
          <p>จันทร์ไรเดอร์ คือ บริการจัดส่งไอศครีมอร่อยถึงมือคุณ เดือนละครั้ง ในวันจันทร์ที่คุณสะดวกรับ</p>
        </div>
        <div>
          <img class="image-block" src="{% static 'app_general/iso2.jpg' %}">
          <p>จันทร์ไรแมน คือ พนักงานส่งไอศครีม ขี่ไวแบบไม่ย้อนศร และฉีดวัคซีนครบ 2 เข็มแล้วทุกคน</p>
        </div>
        <div>
          <img class="image-block" src="{% static 'app_general/iso3.jpg' %}">
          <p>ไอศครีมทุกรสรังสรรค์ขึ้นมาอย่างพิถีพิถัน ไม่หวั่นแม้ออเดอร์มามาก</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}