<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISO Consult | TRAINING</title>
</head>

<body>
    {% include 'app_general/components/site_header.html' %}
    <div>
        <h2>
            LAST PROMOTION!
        </h2>
        <p>
            ISO 22301(On-line)
            TL9000(In-house)
            ISO 17025(Consult)
            ISO 15189(In-house)
            ESD 20.20(In-house
        </p>
    </div>
    {% include 'app_general/components/site_footer.html' %}
</body>

</html>