{% load static %}
<header class="site-header" style="background-color:lightgray">
    <a class="site-header-item site-header-brand" href="{% url 'home' %}">
        <img src="{% static 'app_general/logo.png' %}">
    </a>
    <a class="site-header-item" href="{% url 'eiearning' %}">ELEARNING</a>
    <a class="site-header-item" href="{% url 'news' %}">NEWS & EVENTS</a>
    <a class="site-header-item" href="{% url 'training' %}">TRAINING</a>
    <a class="site-header-item" href="{% url 'blog' %}">BLOG</a>
    <a class="site-header-item" href="{% url 'contact' %}">CONTACT</a>
</header>